@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:red">WELCOME TO FPT</h1>
    <h1 style="color:red">BOOK STORE</h1>
    <img src="https://c4.wallpaperflare.com/wallpaper/662/990/531/fantasy-book-hd-wallpaper-preview.jpg" />
</div>
